OJ_AGENT_NACOS_CONFIG_ENABLED=true
OJ_AGENT_NACOS_SERVER_ADDR=
OJ_AGENT_NACOS_NAMESPACE=
OJ_AGENT_NACOS_GROUP=DEFAULT_GROUP
OJ_AGENT_NACOS_CONFIG_DATA_ID=
OJ_AGENT_NACOS_USERNAME=nacos
OJ_AGENT_NACOS_PASSWORD=

OJ_AGENT_NACOS_ENABLED=true
OJ_AGENT_NACOS_SERVICE_NAME=oj-agent
OJ_AGENT_NACOS_PORT=8015
OJ_AGENT_NACOS_IP=127.0.0.1
